###############################################################################
#
#    Service Config section
#
###############################################################################
server:
  view:
    limit: 10
  port: 18080
  release: "release"
  version: "2022.01.28"
  
  grpc_uri: "localhost:35051"
